h1 {
  color: var(--primary);
  text-shadow: 0 0 8px var(--black-dark-color);
  margin: calc(2rem + 2vw) 0;
  text-align: center;
}

h2 {
  color: var(--secondary);
  text-shadow: 0 0 5px var(--black-dark-color);
}
