.carousel {
  text-align: left;
  width: 100%;
}

.carousel-header {
  display: flex;
}

.carousel-container {
  margin: 0 auto;
  width: 90%;
  position: relative;
}

.carousel-container button {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  cursor: pointer;
  height: calc(100% - 2rem);
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-out, width 0.3s ease-in-out;
  position: absolute;
  width: 1rem;
  z-index: 10;
}

.carousel-container button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  width: 2rem;
}

.carousel-container .carousel-left-btn {
  left: 0;
}

.carousel-container .carousel-right-btn {
  right: 0;
}

.carousel-movies {
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  padding: 1rem 0;
}

.movie-container {
  min-width: 20%;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movie-container:hover {
  transform: scale(1.2);
}

.movie-container img {
  width: 100%;
  pointer-events: none;
}
