.carousel {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 95%;
  position: relative;
}

.carousel button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: calc(100% - 2.2rem);
  top: 50%;
  transform: translateY(-53%);
  transition: background-color 0.3s ease-out, width 0.3s ease-in-out;
  position: absolute;
  width: 1.25rem;
  z-index: 10;
}

.carousel button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  width: 2.5rem;
}

.carousel .carousel-left-btn {
  left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}

.carousel .carousel-right-btn {
  right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.carousel-movies {
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  padding: 1rem 0;
}

.movie-container {
  min-width: 20%;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  overflow: hidden;
}

.movie-container h3 {
  position: absolute;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 100%;
  transition: all 0.2s ease-in;
  pointer-events: none;
  left: 0;
}

.movie-container:hover > h3 {
  top: -0%;
}

@media screen and (max-width: 600px) {
  .movie-container {
    min-width: 33.33%;
  }

  .movie-container h3 {
    font-size: 0.6rem;
    text-align: left;
    padding: 0.25rem 0.5rem;
  }
}

.movie-container:hover {
  transform: scale(1.2);
  z-index: 10;
}

.movie-container img {
  width: 100%;
  pointer-events: none;
}
