.details {
  border-radius: 1rem;
  top: 2%;
  left: 1%;
  overflow: hidden;
  position: absolute;
  width: 98%;
  z-index: 20;
}

.movie-details {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
}

.movie-details::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  filter: blur(30px);
  position: absolute;
  border-radius: 1rem;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .movie-details {
    width: 100%;
    left: 0;
    padding: 0 0.25rem;
    text-align: center;
  }

  .movie-details h3 {
    width: 80%;
  }
}

.movie-details .close-details-btn {
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  border-radius: 0.5rem;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem;
  outline: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.movie-details .close-details-btn:hover {
  background-color: rgba(212, 16, 16, 0.95);
}

.grid-1-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
}
