.movie-details-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.poster {
  text-align: center;
}

.poster img {
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9),
    0 0 10px rgba(255, 255, 255, 0.9);
  height: 50vh;
  width: auto;
}

.poster {
  font-size: calc(1.2rem + 0.5vw);
}

.poster strong {
  border-bottom: thin solid white;
}

.poster span {
  font-size: 0.8rem;
}

.overview {
  line-height: 1.5rem;
}
