header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  place-items: center;
  gap: 0.5rem;
  width: 100%;
}

header h2 {
  color: var(--primary);
  font-size: calc(1.75rem + 1vw);
  text-align: center;
  text-shadow: 0 5px 20px var(--black-dark-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

header h2:hover {
  color: var(--primary-modal);
}

nav {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  justify-content: space-evenly;
}

header a {
  color: var(--primary-dark);
  padding: 0.25rem;
  text-decoration: none;
  font-size: calc(1rem + 0.25vw);
  font-weight: 600;
  transition: color 0.3s ease-in-out, border 0.3s ease-in;
  position: relative;
}
header a.active-link {
  color: var(--primary);
}
header a:hover {
  color: var(--primary-modal);
}

header nav a::before {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  background-color: var(--primary);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-out;
}

header a:hover::before {
  width: 100%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search input {
  border: none;
  border-radius: 0.1rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
  padding: 0.5rem 1rem;
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out,
    border-radius 0.3s ease-out;
  width: 80%;
}

.search input:active,
input:focus {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 10px black, 0 0 15px white, 0 0 20px black;
}

@media screen and (min-width: 600px) {
  .search {
    grid-column: span 2;
  }
}

@media screen and (min-width: 900px) {
  .search {
    grid-column: span 1;
  }
}
