:root {
  --primary: #fcb80d;
  --primary-modal: #fdce59;
  --primary-dark-modal: #c9930a;
  --primary-dark: #7d5b06;
  --secondary: #4682b4;
  --secondary-modal: #85a6c1;
  --secondary-dark-modal: #38688f;
  --secondary-dark: #152736;
  --black-color: #454545;
  --black-dark-color: #1f1f1f;
  --black-modal-color: #bfbfbf;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--black-dark-color);
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(
    110deg,
    var(--black-color),
    var(--black-dark-color)
  );
  color: white;
  padding: 2rem 1rem;
}

main {
  min-height: 100vh;
  margin-top: calc(2rem + 1vw);
}

h1 {
  font-size: calc(2rem + 1.5vw);
}

h2 {
  font-size: calc(1.5rem + 1vw);
}

h3 {
  font-size: calc(1rem + 0.5vw);
}
