:root {
  --main-color: rgb(233, 19, 19);
  --main-modal-color: rgb(235, 32, 32);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: linear-gradient(
    150deg,
    rgb(83, 83, 83),
    rgb(36, 36, 36),
    rgb(0, 0, 0)
  );
  color: white;
  padding-bottom: 2rem;
}

h1,
h2,
h3 {
  padding: 1rem;
}

p {
  padding: 1rem 0;
}
